---
title: Demuxed 2021: Auction
---

%section
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrz360pmm667OvGs?backgroundColor=purpleLight" frameborder="0" onmousewheel="" width="100%" height="642" style="background: transparent; border: 1px solid #ccc;"></iframe>

%section.sponsors#sponsors
  %div.container
    %h2.section-heading
      Our Sponsors

    %ul.main-sponsors
      %li
        = image_tag("/images/svg/sponsor-person-l.svg", alt: "", class: "sponsor-person-l")

        %h4.sponsor-title
          Day 1
          %span Sponsor

        %div.sponsor
          = link_to(image_tag("/images/svg/sponsors/spotai.png", alt: "", class: ""), "https://www.spot.ai/?utm_source=demuxed&utm_medium=events", target: "_blank", rel: "noopener noreferrer")

      %li
        %h4.sponsor-title
          Day 2
          %span Sponsor

        %div.sponsor
          = link_to(image_tag("/images/svg/sponsors/encodingdotcom-balanced.svg", alt: "", class: ""), "https://www.encoding.com/", target: "_blank", rel: "noopener noreferrer")

      %li
        = image_tag("/images/svg/sponsor-person-r.svg", alt: "", class: "sponsor-person-r")

        %h4.sponsor-title
          Day 3
          %span Sponsor

        %div.sponsor
          = link_to(image_tag("/images/svg/sponsors/daily.png", alt: "Daily.co logo", class: ""), "https://www.daily.co", target: "_blank", rel: "noopener noreferrer")


    %div.gold-sponsors
      %h3.sponsor-title
        Gold
        %span sponsors
      %ul.gold-sponsors__list
        %li
          = link_to(image_tag("/images/svg/sponsors/bitmovin.svg", alt: "", class: ""), "https://bitmovin.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/viacomcbs.png", alt: "", class: ""), "https://www.viacomcbs.com/brand/viacomcbs-streaming", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/streamshark.svg", alt: "", class: ""), "https://streamshark.io/", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/aws.png", alt: "", class: ""), "https://aws.amazon.com", target: "_blank", rel: "noopener noreferrer")

    %div.community-sponsors
      %h3.sponsor-title
        Community
        %span sponsors
      %ul.community-sponsors__list
        %li
          = link_to(image_tag("/images/svg/sponsors/stackpath.svg", alt: "", class: ""), "https://stackpath.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/lumen.png", alt: "", class: ""), "https://www.lumen.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/100ms.png", alt: "", class: ""), "https://100ms.live", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/ezdrm.svg", alt: "", class: ""), "https://ezdrm.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/philo.svg", alt: "", class: ""), "https://www.philo.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/ns1.svg", alt: "", class: ""), "https://ns1.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/unified.svg", alt: "", class: ""), "https://www.unified-streaming.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/m2amedia.svg", alt: "", class: ""), "https://www.m2amedia.tv", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/dolby.svg", alt: "", class: ""), "https://dolby.io/?&utm_medium=event&utm_campaign=demuxed2021&utm_source=landing-page", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/primevideo.png", alt: "", class: ""), "https://www.amazon.com/Prime-Video/b?node=2676882011", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/fastly.png", alt: "", class: ""), "https://fastly.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/qualabs.svg", alt: "", class: ""), "https://qualabs.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/vimeo.svg", alt: "Vimeo logo", class: ""), "https://vimeo.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/akamai_balanced.svg", alt: "Akamai logo", class: ""), "https://akamai.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/techex.svg", alt: "TechEx logo", class: ""), "https://techex.co.uk", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/ssimwave_stacked.png", alt: "SSIMWAVE logo", class: ""), "https://ssimwave.com", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/dyte.svg", alt: "Dyte logo", class: ""), "https://dyte.io", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/eluvio.svg", alt: "Eluvio logo", class: ""), "https://live.eluv.io", target: "_blank", rel: "noopener noreferrer")
        %li
          = link_to(image_tag("/images/svg/sponsors/huddle01.png", alt: "Huddle01 logo", class: ""), "https://huddle01.io/?utm_source=demuxed&utm_medium=logo&utm_campaign=demux2021", target: "_blank", rel: "noopener noreferrer")

    %div.organising-sponsor
      %h3.sponsor-title
        Organized
        %span By

      %div.sponsor
        = link_to(image_tag("/images/svg/sponsors/mux.png", alt: "", class: ""), "https://mux.com", target: "_blank", rel: "noopener noreferrer")

  = image_tag("/images/svg/footer-mobile.svg", alt: "", class: "footer-mobile")

